In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
from datetime import datetime as tm
import seaborn as sns
t = time.time()

In [2]:
def convert2unix(time):
    if type(time) == type('hey'):
        time = tm.strptime(time,'%Y-%m-%dT%H:%M:%S').timestamp()
        #time = tm.strptime(time,'%m/%d/%y %H:%M:%S %p').timestamp()
    elif type(time) == tm:
        time = time.timestamp()
    elif type(time) == float:
        pass
    elif type(time) == pd._libs.tslibs.timestamps.Timestamp:
        time = time.timestamp()
    else:
        print('NONE OF THE ABOVE')
        print(type(time))

    return time

In [3]:
### $ Clear all variables

### $ Filename imported by field engineer
filename = 'C:/Users/sambe/Desktop/Spring 2021/M E 266KP/Given Data/chevron_test_template1.xlsx'#testP-1605&A New dataset 2.23.21.xlsx'

allvars = ['Inlet Flowrate',
 'Inlet Pressure',
 'Outlet Pressure',
 'Inlet Temperature',
 'Column Level',
 'STD API',
 'Pump Driver Vibration',
 'Pump Vibration',
 'Sister Pump Driver Vibration',
 'Sister Pump Vibration']
### $ Convert to pandas data frame
df = pd.read_excel(filename, sheet_name = 'Time-Series Data')
faildata = pd.read_excel(filename, sheet_name = 'Failure Mode & Date')
print(f'Elapsed time is {(time.time() - t)/60} minutes')
a = df.columns
availvars = []
for word in a:
    if word.startswith('Unnamed'):
        pass
    else:
        availvars.append(word)
### $ Get the number of rows and columns in the file (# of covariates and sampling will probably be different)
number_rows = len(df.index)
number_cols = len(df.columns)

### $ Create empty data frames with the three points per covariate (value, times, good/bad)
variables = pd.DataFrame([])
times = pd.DataFrame()
goodbad = pd.DataFrame()

Elapsed time is 8.345554622014363 minutes

In [4]:
df

,Unnamed: 0,Inlet Flowrate,Unnamed: 2,Unnamed: 3,Unnamed: 4,Inlet Pressure,Unnamed: 6,Unnamed: 7,Unnamed: 8,Outlet Pressure,...,Pump Vibration,Unnamed: 30,Unnamed: 31,Unnamed: 32,Sister Pump Driver Vibration,Unnamed: 34,Unnamed: 35,Unnamed: 36,Sister Pump Vibration,Unnamed: 38
0,Pen Name:,16FI226,Units: MBPD,NaN,Pen Name:,16pi2115,Units: PSIG,NaN,Pen Name:,16pi2115,...,16ve1133,Units: IN/SEC,NaN,EMPTY 1,EMPTY 2,EMPTY 3,NaN,EMPTY 1,EMPTY 2,EMPTY 3
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2038.28,2018-02-20T15:01:30,GOOD,NaN,44.0469,2018-02-20T15:01:30,GOOD,NaN,5574.77,2018-02-20T15:01:30,...,2018-02-20T15:01:30,GOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2039.22,2018-02-20T15:01:59,GOOD,NaN,44.0703,2018-02-20T15:01:59,GOOD,NaN,5565.62,2018-02-20T15:01:59,...,2018-02-20T15:01:59,GOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2039.06,2018-02-20T15:02:29,GOOD,NaN,44.1953,2018-02-20T15:02:29,GOOD,NaN,5623.01,2018-02-20T15:02:29,...,2018-02-20T15:02:58,GOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns = df.iloc[0].fillna('Unnamed')
df.drop(0, inplace = True)
df.reset_index(drop = True, inplace = True)
df

,Pen Name:,16FI226,Units: MBPD,Unnamed,Pen Name:,16pi2115,Units: PSIG,Unnamed,Pen Name:,16pi2115,...,16ve1133,Units: IN/SEC,Unnamed,EMPTY 1,EMPTY 2,EMPTY 3,Unnamed,EMPTY 1,EMPTY 2,EMPTY 3
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2038.28,2018-02-20T15:01:30,GOOD,NaN,44.0469,2018-02-20T15:01:30,GOOD,NaN,5574.77,2018-02-20T15:01:30,...,2018-02-20T15:01:30,GOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2039.22,2018-02-20T15:01:59,GOOD,NaN,44.0703,2018-02-20T15:01:59,GOOD,NaN,5565.62,2018-02-20T15:01:59,...,2018-02-20T15:01:59,GOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2039.06,2018-02-20T15:02:29,GOOD,NaN,44.1953,2018-02-20T15:02:29,GOOD,NaN,5623.01,2018-02-20T15:02:29,...,2018-02-20T15:02:58,GOOD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2039.22,2018-02-20T15:03:29,GOOD,NaN,44.0469,2018-02-20T15:03:29,GOOD,NaN,5582.38,2018-02-20T15:02:58,...,2018-02-20T15:05:26,BAD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns

Index(['Pen Name:', '16FI226', 'Units: MBPD', 'Unnamed', 'Pen Name:',
       '16pi2115', 'Units: PSIG', 'Unnamed', 'Pen Name:', '16pi2115',
       'Units: PSIG', 'Unnamed', 'EMPTY 1', 'EMPTY 2', 'EMPTY 3', 'Unnamed',
       'EMPTY 1', 'EMPTY 2', 'EMPTY 3', 'Unnamed', 'EMPTY 1', 'EMPTY 2',
       'EMPTY 3', 'Unnamed', 'Pen Name:', '16ve1132', 'Units: IN/SEC',
       'Unnamed', 'Pen Name:', '16ve1133', 'Units: IN/SEC', 'Unnamed',
       'EMPTY 1', 'EMPTY 2', 'EMPTY 3', 'Unnamed', 'EMPTY 1', 'EMPTY 2',
       'EMPTY 3'],
      dtype='object', name=0)

In [7]:
### $ Sort out whole excel file to place the column in the right data frame (value, times, good/bad)
### $ Relabeled with Variable i names
### $ Iterates over the number of columns
t = time.time()
missingcols = []
for i in range(number_cols):
    ### $ Puts column title into str
    str = df.columns[i]
    ### $ if searches for a title that starts with 'Pen Name'
    if str.startswith('Pen Name'):
        ### $ takes variables from column and puts in separate 'variables' dataframe
        s = df.iloc[1:,i]
        variables = pd.concat([variables,s.rename('Value')], axis = 1)
    ### $ elif searches for a title that starts with 'Units'
    elif str.startswith('Units'):
        ### $ takes variables from column and puts in separate 'goodbad' dataframe
        s = df.iloc[1:,i]
        goodbad = pd.concat([goodbad,s.rename('GOOD/BAD')],axis = 1)
    ### $ This is for the blank columns in between variable columns
    elif str.startswith('Unnamed'):
        ### $ Skips over empty columns
        continue
    elif str.startswith('EMPTY 1'):
        variables = pd.concat([variables,pd.DataFrame([np.nan])],axis = 1)
    elif str.startswith('EMPTY 2'):
        times = pd.concat([times,pd.DataFrame([np.nan])],axis = 1)
        missingcols.append(int((i-1)/4))
    elif str.startswith('EMPTY 3'):
        goodbad = pd.concat([goodbad,pd.DataFrame([np.nan])],axis = 1)
    ### $ This is an else because the pen names vary and will be different for every pump/variable
    else:
        ### $ takes variables from column and puts in separate 'times' dataframe
        s = df.iloc[1:,i].apply(convert2unix)
        times = pd.concat([times,s.rename('Time')], axis = 1)
print(f'Elapsed time is {(time.time() - t)/60} minutes')
times.columns = allvars
goodbad.columns = allvars
variables.columns = allvars

Elapsed time is 1.3421889146169026 minutes

In [8]:
times.drop(0,inplace = True)
times.reset_index(drop = True, inplace = True)
variables.drop(0,inplace = True)
variables.reset_index(drop = True, inplace = True)
goodbad.drop(0,inplace = True)
goodbad.reset_index(drop = True, inplace = True)

In [9]:
missingcols

[3, 4, 5, 8, 9]

In [10]:
goodbad

,Inlet Flowrate,Inlet Pressure,Outlet Pressure,Inlet Temperature,Column Level,STD API,Pump Driver Vibration,Pump Vibration,Sister Pump Driver Vibration,Sister Pump Vibration
0,GOOD,GOOD,GOOD,NaN,NaN,NaN,GOOD,GOOD,NaN,NaN
1,GOOD,GOOD,GOOD,NaN,NaN,NaN,GOOD,GOOD,NaN,NaN
2,GOOD,GOOD,GOOD,NaN,NaN,NaN,GOOD,GOOD,NaN,NaN
3,GOOD,GOOD,GOOD,NaN,NaN,NaN,GOOD,BAD,NaN,NaN
4,GOOD,GOOD,GOOD,NaN,NaN,NaN,GOOD,GOOD,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
507004,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,NaN,NaN,NaN
507005,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,NaN,NaN,NaN
507006,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,NaN,NaN,NaN
507007,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,NaN,NaN,NaN
507008,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,NaN,NaN,NaN

In [11]:
### $ interpolates for BAD Values
### $ Excludes last row because you can't interpolate a machine being on or off
t = time.time()
for j in range(len(variables.columns)):
    for i in range(len(variables.iloc[:,j].dropna())):
        str = goodbad.iloc[i,j]
        ### $ If the value is bad and the value has no prior value to interpolate from, just use next good value
        ### $ Needs improvement: could back interpolate and take care of case in which there are consecutive bad values     
        if str.startswith('B'):# and i == 0:
            variables.iloc[i,j] = np.nan
#            goodbad.iloc[i,j] = 'INT'
        ### $ Else if bad, then interpolate between the two good points
#        elif str.startswith('B'):
#            t1 = times.iloc[i-1,j]
#            t2 = times.iloc[i,j]
#            t3 = times.iloc[i+1,j]
#            a = variables.iloc[i-1,j]
#            c = variables.iloc[i+1,j]
#            variables.iloc[i,j] = ((t2-t1)/(t3-t1))*(c-a)+a
#            goodbad.iloc[i,j] = 'INT'
print(f'Elapsed time is {(time.time() - t)/60} minutes')

Elapsed time is 1.9159774820009867 minutes

In [12]:
### $ Align times via binning
### $ kappa designates the grouping size
### $ Any timestamp outside of the bin will be group later



### $ Sets to dataframes: windows and shutters. windows is the number row that is being looked at for that variable. shutters is end of the length of that variable
### $ column titles designate which variable is being investigated
windows = pd.DataFrame()
shutters = pd.DataFrame()
for j in range(len(variables.columns)):
    w = pd.DataFrame([0], columns = [f'{j}'])
    windows = pd.concat([windows, w], axis = 1)
    temp = variables.iloc[:,j]
    s = pd.DataFrame([len(temp.dropna())], columns = [f'{j}'])
    shutters = pd.concat([shutters, s], axis = 1)
    
binsize = 60*2#seconds

### $ abstime is the merged and grouped times of all the variables
abstime = pd.DataFrame([])
### $ vars is the merged and grouped variables
vars = pd.DataFrame([], columns = allvars)

timemin = times.min().min()

timenow = times.min().min()
timeend = times.max().max()
timediff = (timeend - timemin)
counter = 0
t = time.time()
while timenow <= timeend:
    abstime = pd.concat([abstime,pd.DataFrame([timenow], columns = ['Time'])], ignore_index = True)
    varnow = variables[(times >= timenow) & (times < timenow + binsize)].mean()
    vars = pd.concat([vars, pd.DataFrame([varnow])], ignore_index = True)
    timenow += binsize
print(f'Elapsed time is {(time.time() - t)/60} minutes')

#print(f'5 {time.time() - t}')
#t = time.time()
#print((timenow- timemin)/(timediff))


timemin = times.min().min()

timenow = times.min().min()
timeend = times.max().max()
timediff = (timeend - timemin)
counter = 0
abstime = []
vars = []
t = time.time()
while timenow <= timeend:
    abstime.append([timenow])
    varnow = variables[(times >= timenow) & (times < timenow + binsize)].dropna(thresh = 1).mean()
    vars.append(varnow)
    timenow += binsize
  
print(f'Elapsed time is {(time.time() - t)/60} minutes')

In [13]:

timemin = times.min().min()

timenow = times.min().min()
timeend = times.max().max()
timediff = (timeend - timemin)
counter = 0
abstime = []
vars = []
t = time.time()
while timenow <= timeend:
    abstime.append(timenow)
    #varnow = variables[(times >= timenow) & (times < timenow + binsize)].dropna(thresh = 1).mean()
    #vars.append(varnow)
    timenow += binsize
  
print(f'Elapsed time is {(time.time() - t)/60} minutes')

Elapsed time is 0.004283320903778076 minutes

In [16]:
def binning(df,dt,abstime,binsize):
    s = []
    for time1 in abstime:
        s.append(df[(dt>= time1) & (dt< time1 + binsize)])
    return s

In [ ]:
binning(variables,times,abstime, binsize)

In [224]:
((timenow- timemin)/(timediff))

0.0006145340732983137

In [225]:
(time.time() - t)/60

0.9359134554862976

In [ ]:
vars = pd.DataFrame(vars)
abstime = pd.DataFrame(abstime, columns = ['Time'])
abstime

In [ ]:
def binning(df, timestart, timeend, timenow):
    for column in df.columns:
    # create bin
    if timenow <= timeend and timenow >= timestart:

        abstime = pd.concat([abstime,pd.DataFrame([timenow], columns = ['Time'])], ignore_index = True)
        varnow = variables[(times >= timenow) & (times < timenow + binsize)].mean()
        vars = pd.concat([vars, pd.DataFrame([varnow])], ignore_index = True)
        #print((timenow- timemin)/(timediff))
        timenow += binsize

In [55]:
varnow

Inlet Flowrate                       NaN
Inlet Pressure                       NaN
Outlet Pressure                      NaN
Inlet Temperature                    NaN
Column Level                         NaN
STD API                              NaN
Pump Driver Vibration                NaN
Pump Vibration                  0.023975
Sister Pump Driver Vibration         NaN
Sister Pump Vibration                NaN
dtype: float64

In [56]:
vars

,Inlet Flowrate,Inlet Pressure,Outlet Pressure,Inlet Temperature,Column Level,STD API,Pump Driver Vibration,Pump Vibration,Sister Pump Driver Vibration,Sister Pump Vibration
0,2038.945312,44.089844,5589.695313,NaN,NaN,NaN,0.072129,0.022539,NaN,NaN
1,2040.156250,44.150391,5585.048829,NaN,NaN,NaN,0.073216,NaN,NaN,NaN
2,2040.937500,44.190104,5592.539063,NaN,NaN,NaN,0.074336,0.023398,NaN,NaN
3,2042.578125,44.185547,5595.966797,NaN,NaN,NaN,0.074385,0.022520,NaN,NaN
4,2042.395833,44.158203,5592.539063,NaN,NaN,NaN,0.073105,0.022721,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
80,2041.031250,44.067708,5592.708333,NaN,NaN,NaN,0.076357,0.021745,NaN,NaN
81,2041.914062,44.039062,NaN,NaN,NaN,NaN,0.070625,0.022135,NaN,NaN
82,NaN,44.042969,NaN,NaN,NaN,NaN,0.073740,0.022988,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.022422,NaN,NaN
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.023975,NaN,NaN

In [15]:
(timenow - timemin)/timediff

1.0013671004903049

In [36]:
(timenow- timemin)/(timediff)

0.07800587308121011

In [ ]:
#for i in range(len(abstimes)):
#    abstimes.iloc[i,0] = pd.to_datetime(abstimes.iloc[i,0], unit = 's')

#for i in range(len(abstime)):
#    abstime.iloc[i,0] = tm.strptime(abstime.iloc[i,0],'%Y-%m-%d %H:%M:%S')
a = ['Time']
for s in allvars:
    a.append(s)

fixed = pd.concat([abstime,vars], axis = 1)
fixed.columns = a
fixed.dropna(thresh = 2, inplace = True)

fixed.to_excel('interpolatedvar.xlsx')

In [ ]:
fixed

In [18]:
faildata

                 Date             Mode
0 2021-02-23 15:50:00  Motor_Distorted
1 2020-11-02 04:15:00     Broken_Valve
2 2020-03-25 21:48:50  Valve_Alignment
3 2020-06-18 09:32:00  Broken_Impeller
4 2020-07-10 15:52:00    Leaking_Valve
5 2020-08-30 01:14:00     Cracked_Seal

In [22]:
faildata['Date'].apply(convert2unix)

0    1.614095e+09
1    1.604290e+09
2    1.585173e+09
3    1.592473e+09
4    1.594396e+09
5    1.598750e+09
Name: Date, dtype: float64